<html>
<head>
    <title>groupie-tracker</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>  
</head>
<body>
    
    <div id="container">
        <div id="header">
            <div id ="title">
                <h1>Groupie Tracker</h1>
            </div>

        </div>

        <div id="navBar">
            <table>
                <tr>
                <td><a href="home.html">Home</a></td>
                <td><a href="index.html">Artists</a></td>
                <td><a href="aboutus.html">About Us</a></td>
                </tr>
            </table>
        </div>
        
        <div id="content">
                <p> Groupie Trackers consists on receiving a given API and manipulate the data contained in it, in order to create a site, displaying the information.

                    It will be given an API, that consists in four parts: <br>
                    - The first one, artists, containing information about some bands and artists like their name(s), image, in which year they began their activity, the date of their first album and the members.<br>
                    - The second one, locations, consists in their last and/or upcoming concert locations.<br>
                    - The third one, dates, consists in their last and/or upcoming concert dates.<br>
                    - The last one, relation, does the link between all the other parts, artists, dates and locations.
                    
                    to build a user friendly website where it can display the bands info through several data visualizations.
                    <br>
                    This project also focuses on the creation of events/actions and on their visualization which is known as a client call to the server (client-server). <br>It is a feature that needs to trigger an action. This action must communicate with the server in order to recieve information. 
                 </p>
                 <div id="returnBack">
                    <a href="index.html"> Click Here  To See The Artists →</a>
                </div>         
        </div>


        <div id="footer">Created By:<br>&nbsp;BYqb,  &nbsp;&nbsp;Niga</div>
    </div>
</body>
<html>